### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# display the number of unique players based on screen names
countplayers = len(purchase_data["SN"].unique())
countplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# get the list of unique item names
uniqueItems = purchase_data["Item Name"].unique()
#uniqueItems

#get the average price
averageprice = purchase_data["Price"].mean()
#averageprice

#get the total number of purchases
countpurchases = purchase_data["Purchase ID"].count()
#countpurchases

#get the total amount of purchases
totalpurchase = purchase_data["Price"].sum()
#totalpurchase

In [8]:
# to display in a separate summary table

summaryTable = pd.DataFrame({
        "# of Unique Items": [uniqueItems], 
        "Average Price": averageprice, 
        "Total Number of Purchases": countpurchases,
        "Total Amount of Purchases": totalpurchase
})
summaryTable

,# of Unique Items,Average Price,Total Number of Purchases,Total Amount of Purchases
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
# need a new list of unique players by screennames, and then count them
uniqueplayerslist = purchase_data.drop_duplicates(["SN"])

numberuniqueplayers = uniqueplayerslist.count()[0]
numberuniqueplayers

576

In [14]:
# counts for each gender based on the new list above
gendercounts = uniqueplayerslist["Gender"].value_counts()
gendercounts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [49]:
# do calcs to find percentage for each

genderpercents = (gendercounts / numberuniqueplayers)*100
genderpercents

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [50]:
# make a summary table

gendersummary = pd.DataFrame({"Total Count": gendercounts, "Percentage of Players": genderpercents})
gendersummary

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:

grouped_gender = purchase_data.groupby(['Gender'])
#print(grouped_gender)

# purchase counts using this group
purchasecounts = grouped_gender["Purchase ID"].count()
#purchasecounts

# average purchase price
averagepurchaseprice = grouped_gender["Price"].mean()
#averagepurchaseprice

# total purchase price
totalpurchaseprice = grouped_gender["Price"].sum()
#totalpurchaseprice

# avg total purchase per person (by individual gender counts)
avgtotalperperson = totalpurchaseprice / gendercounts
avgtotalperperson

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [18]:
gendersummary2 = pd.DataFrame({
   
    "Purchase Count": purchasecounts,
    "Average Purchase Price": averagepurchaseprice,
    "Total Purchase Value": totalpurchaseprice,
    "Average Total Purchase per Person": avgtotalperperson,
})
gendersummary2

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [51]:
# first, need to divide the data
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest = True)
#purchase_data

#create a list of unique players (as done above)
uniqueplayerslist2 = purchase_data.drop_duplicates(["SN"])
numberuniqueplayers2 = uniqueplayerslist.count()[0]
#numberuniqueplayers2

#count the numbers from this new unique players list
agecounts = uniqueplayerslist["Age Summary"].value_counts()
#agecounts

# calculate the percentages
Agepercents = ((agecounts / numberuniqueplayers2).round(2))*100
Agepercents

20-24    45.0
15-19    19.0
25-29    13.0
30-34     9.0
35-39     5.0
10-14     4.0
<10       3.0
40+       2.0
Name: Age Summary, dtype: float64

In [48]:
# create a summary table
agesummary1 = pd.DataFrame({
    "Total Count": agecounts,
    "Percentage of Players": Agepercents 
})  
agesummary1

       Total Count  Percentage of Players
20-24          258                   45.0
15-19          107                   19.0
25-29           77                   13.0
30-34           52                    9.0
35-39           31                    5.0
10-14           22                    4.0
<10             17                    3.0
40+             12                    2.0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
grouped_age = purchase_data.groupby(['Age Summary'])
#print(grouped_age)

# purchase counts using this group
Agepurchasecounts = grouped_age["Purchase ID"].count()
#purchasecounts

# average purchase price
Ageaveragepurchaseprice = grouped_age["Price"].mean().round(2)
#averagepurchaseprice

# total purchase price
Agetotalpurchaseprice = grouped_age["Price"].sum().round(2)
#totalpurchaseprice

# avg total purchase per person (by individual gender counts)

Ageavgtotalperperson = (Agetotalpurchaseprice / agecounts).round(2)
Ageavgtotalperperson

<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [55]:
agesummary2 = pd.DataFrame({
   
    "Purchase Count": Agepurchasecounts,
    "Average Purchase Price": Ageaveragepurchaseprice,
    "Total Purchase Value": Agetotalpurchaseprice,
    "Average Total Purchase per Person": Ageavgtotalperperson,
})
agesummary2

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
#need to group the data by unique screennames
grouped_SN = purchase_data.groupby(['SN'])
#grouped_SN

# purchase counts using this group
SNpurchasecounts = grouped_SN["Purchase ID"].count()
#SNpurchasecounts

# average purchase price
SNaveragepurchaseprice = grouped_SN["Price"].mean()
#SNaveragepurchaseprice

# total purchase price
SNtotalpurchaseprice = grouped_SN["Price"].sum()
SNtotalpurchaseprice

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [78]:
#make a summary table

SNsummary = pd.DataFrame({
   
    "Purchase Count": SNpurchasecounts,
    "Average Purchase Price": SNaveragepurchaseprice,
    "Total Purchase Value": SNtotalpurchaseprice
})
SNsummary
# sort the table
SNsummary = SNsummary.sort_values('Total Purchase Value', ascending = False)
SNsummary.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [97]:
#need to group the data by unique items
grouped_item = purchase_data.groupby(['Item Name'])
#grouped_item

# purchase counts using this group
itempurchasecounts = grouped_item["Purchase ID"].count()
#itempurchasecounts

# total purchase price
itemtotalpurchaseprice = grouped_item["Price"].sum()
itemtotalpurchaseprice

#need to find corresponding Item iD and price
itemid = grouped_item["Item ID"].max()
itemid

itemprice = grouped_item["Price"].max()
itemprice

Item Name
Abyssal Shard                      2.67
Aetherius, Boon of the Blessed     3.39
Agatha                             3.08
Alpha                              2.07
Alpha, Oath of Zeal                4.05
                                   ...
Wolf                               3.54
Wolf, Promise of the Moonwalker    4.48
Worldbreaker                       2.60
Yearning Crusher                   4.18
Yearning Mageblade                 3.82
Name: Price, Length: 179, dtype: float64

In [98]:

#make a summary table

itemsummary1 = pd.DataFrame({
    "ItemID": itemid,
    "Item Price": itemprice,
    "Purchase Count": itempurchasecounts,
    "Total Purchase Value": itemtotalpurchaseprice
})
itemsummary1

#sort the table
itemsummary1 = itemsummary1.sort_values('Purchase Count', ascending = False)
itemsummary1.head(5)

,ItemID,Item Price,Purchase Count,Total Purchase Value
Item Name,,,,
Final Critic,92,4.88,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,4.23,12,50.76
Persuasion,132,3.33,9,28.99
Nirvana,82,4.90,9,44.10
"Extraction, Quickblade Of Trembling Hands",108,3.53,9,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [99]:
itemsummary2 = itemsummary1.sort_values('Total Purchase Value', ascending = False)
itemsummary2.head(5)

,ItemID,Item Price,Purchase Count,Total Purchase Value
Item Name,,,,
Final Critic,92,4.88,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,4.23,12,50.76
Nirvana,82,4.90,9,44.10
Fiery Glass Crusader,145,4.58,9,41.22
Singed Scalpel,103,4.35,8,34.80